body{
    text-align: center;
}
#z{
background-color: blue;
}
#a{
    background-color: #F4C430 ;
}
#b{
    background-color: white;
}
#c{
    background-color: green;
}
#abc{
    text-align: right;
}